<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="NavigationDBEntities" connectionString="metadata=res://*/Model.NavigationModel.csdl|res://*/Model.NavigationModel.ssdl|res://*/Model.NavigationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\PC06-06\Desktop\stilqn11b\NavigationExample11b\NavigationExample11b\Navigationdb.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>